.section-estudiantes form{
    position: absolute;
    top: 13%;
    left: 17.6%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    margin: 2px;
    width: 82.2%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 20px;
}
.section-estudiantes label{
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    margin-top: 10px;
}
.section-estudiantes select{
    width: 75%;
    text-align: center;
    font-weight: bold;
    border: none;
    font-size: 20px;

}

.section-estudiantes input{
    width: 75%;
    font-size: 20px;

    background-color: transparent;
    border: 3px solid black;
    border-color: transparent transparent black transparent;

}
.section-estudiantes input[type="date"]{
    width: 46%;

}
.section-estudiantes input[type="email"]{
    width: 41%;

}
.section-estudiantes input::placeholder{
    font-size: 20px;
}
.section-estudiantes button{
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: -70px;
    border-radius: 20px;
    background-color: rgb(57, 71, 255);
    color: white;
    font-weight: bolder;
    padding: 10px;
    font-size: 23px;
    border: none;
    cursor: pointer;
}


.table-estudiantes table{
    position: absolute;
    top: 65%;
    left: 17.6%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 30px;
    margin: 2px;
    width: 82.2%;
    
    
}
.table-estudiantes h3{
    text-align: center;
    padding-bottom: 2%;
    position: absolute;
    top: 64%;
    left:50%;
}

.table-estudiantes td{
    text-align: center;
}
.progreso{
    position: absolute;
    top: 17%;
    left: 23.6%;
  }
 table{
    margin-top: 20px;
    width: 100%;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
  }
  th{
    margin: 14px;
    padding: 5px;
    background-color: rgb(50, 50, 50);
    color: white;

  }
  tr{
    cursor: pointer;
    border:2px solid black ;
    background-color: white;

  }
  tr:hover{
    background-color: #8bf3ff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.167);
  }
  td{
    padding: 5px;
    margin: 14px;
  }
 
.progreso h1{
    text-align: center;
    font-size: 34px;
}
.perfil-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil-button button{
    border: none;
    color: white;
    font-weight: 900;
    margin: 20px;
    cursor: pointer;
    padding: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.307);
    font-size: 19px;
    border-radius: 20px;
    background-color: rgb(41, 0, 153);
}
.estadistica{
    position: absolute;
    top: 100px;
    left: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
}
.BuscadorEstudiantes{
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    justify-content: center;
}
.BuscadorEstudiantes img{
    width: 30px;
    height: 30px;
    margin-left: 4px;
    

}
.BuscadorEstudiantes input{
    height: 100%;
    border: none;
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.208);
    width: 400px;
    border-radius:10px ;
    text-align: center;
    margin: 0%;
}
.BuscadorEstudiantes input::placeholder{
    text-align: center;
    font-size: 17px;
}
.BuscadorEstudiantes input:hover{
    border: 3px solid ;
    border-color: #0084ff;
}
.progreso-estadistica h3{
    text-align: left;
}
.progreso-estadistica{
    margin-top: 70px;
}
.estadistica-niveles{
    margin-top: 25px;
}
.estadistica-niveles h4{
    margin-top: 15px;
}
.estadistica-niveles div{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}
.estadistica-niveles button{
    cursor: pointer;
    border: none;
    font-size: 16px;
    background-color: #04bab4;
    padding: 6px 35px;
    margin: 10px;
    color: white;
    font-weight: bolder;
}
.estadistica-niveles button:hover{
    background-color: #00eee6;
}
.progress-bar{
    position: relative;
    width: 100%;
    height: 27px;
    background-color: #ccc;
    border-radius: 2em;
    overflow: hidden;
    transition: 1s;

}
.progress-bar::before{
    content: '';
    position: absolute;
    width: 0%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #006aff;
    color: white;
}

.progresoNivel{ 
    margin-top: 40px;
}

.progreso-estadistica span{
    font-weight: 600;
}
.progresoObjetivos{
    margin-top: 34px;
    font-weight: 700;
}
.progresoObjetivos p{
    background-color: #006aff;
    color: white;
    padding: 8px;
    border-radius: 15px;

    text-align: left;
    margin: 5px;
}
.progresoObjetivos span{
    color: #00ffd9;
    margin-bottom: 15px;
    font-size: 20px;
}
#selectBox{
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #04bab4;
    color: white;
    font-size:18px ;
    margin-top: 25px;
}
.progresoObjetivos button{
    margin: 20px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    color: #006aff;
    text-decoration:underline;
}
.perfil-button-w{
    margin: 0;
    position: relative;
}
.contador-progreso{
    width: 100%;
    display: grid;
    font-weight: 600;
    font-size: 13px;
    grid-template-columns: 20px 1fr;
    border-radius: 30px;

}
.progresoObjetivos h2{
    text-align: left;
    font-size: 20px;
    background-color: #3c71ae;
    background-color: #006aff;
    width: 270px;
    border-top-right-radius: 14px;
    color: white;
    border: 1px solid #0a265b;

}
.contador-progreso div{
    text-align: left;
    padding:5px;
    background-color: #006aff;
    color: white;
    border: 1px solid #0a265b;
}
.Separador{
    margin-top: 40px;
}
.cargando-linewave{
    top: 0;
    left:0 ;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(2, 22, 77, 0.536);
    
    text-align: center;
    color: white;
    
  }
  .cargando-linewave div{
    margin-right: auto;
    margin-left:25%;
    width: 500px;

    margin-top: 10px;
   
  }

  .cargando-linewave span{
    font-size: 30px;

  }
  .AlertaAgregado{
    position: fixed;
    bottom: -90px;
    background-color: #2600ff;
    width: 620px;
    padding-top: 8px;
    height: 80px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    border-radius: 30px;
    text-align: center;
    left: 30%;
    font-size: 40px;
    animation: agregado 2s ;
  }
@keyframes agregado {
    
    0%{ bottom: 10; 
    background-color: #2600ff;
    }
    40%{ bottom: 20%;
        background-color: #2600ffa3;
    }
    50%{ bottom: 15; 
        background-color: #2600ff;
    }
    60%{ bottom: 5%;
        background-color: #2600ffa3;
    }
    60%{ bottom: -90px;
        background-color: #2600ffa3;
    }
    
    
}
.alertaA{
    position: fixed;
    background-color: #0000001c;
    width: 100%;
    height: 100vh;
    top: 0;
}
.eliminar {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(236, 20, 99);
    width: 400px;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    height: 190px;
}
.eliminar h4{
    font-size: 19px;
    margin-bottom: 7px;
}
.eliminar p{
    font-size: 13px;
}
.eliminar button{
    font-weight: bold;
    border: none;
    margin: 10px;
    padding: 5px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 30px;

}