.rectangulo1 {
  background-color: #84a4bcbe;
  height: 16.54cm;
}
.rectangulo2 {
  background-color: #0a2558;
  height: 16.54cm;
}
.gridfrm {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.login {
  margin: 2cm 0cm 5cm 2cm;
  padding: 25px;
  background-color: #fff;
  height: 12.54cm;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.274),
    0 8px 15px 0 rgba(0, 0, 0, 0.19);
  font-family: "Poppins", sans-serif;
}
.section-img {
  margin: 2cm 2cm 5cm 0cm;
  padding: 0px 0px 0px 0px;
  background-color: #84a4bc;
  height: 12.54cm;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.274),
    0 8px 15px 0 rgba(0, 0, 0, 0.19);
}
.h1-login {
  text-align: center;
 
}
.input-login {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  margin-bottom: 0.5cm;
}
.display-login {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 0cm 4.1cm 1cm 4.1cm;
}
.btn-login {
  cursor: pointer;
  width: 100%;
  height: 1.2cm;
 margin-top: 1cm;
  font-weight: bolder;
  border: none;
  color: white;
  background-color: #0a2558;
}
.btn-login:hover {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #84a4bc;
  color: black;
}
.img-login{
  width: 2cm;
  height: 2cm;
  margin-left: 6.5cm;
  margin-bottom: 10px;
}
.img-derecha{
  background-image: url("/img-login.png");
  width: 105.5%;
  height: 105.5%;
  background-position: center;
  background-size: cover;
  
}